*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
    
}
body{
    background-color: rgb(242, 245, 255);
}
input{
    display: block;
    line-height: 30px;
    height: 30px;
    outline: none;
    font-size: 13pt;
    width: 100%;
    padding: 2px;
}
form{
    width: 330px;
    background-color: rgba(0, 0, 0, .2);
    padding: 20px;
    margin: 30px auto;
    padding-bottom: 2px;
    padding-bottom: 45px;
}
 h1 {
    padding-top: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"]{
    margin-top: 5px;
    cursor: pointer;
    margin: 5px auto 5px;
}
.alert{
    text-align: center;
    width: 90% ;
    height: 40px;
    margin: auto ;
}
a
{   
    color: black;
    background-color: grey;
    border-radius: 5px;
    text-decoration: none;
    float: left;
    margin: auto;
    cursor: pointer;
    padding: 10px;    
}